<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="TenantId" value="10236" />
    <add key="ApplicationId" value="mzint.sdk.1.0.0.release" />
    <add key="SharedSecret" value="32223d1c8c694c9196e95a032bb100b5" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>